<ifModule mod_rewrite.c>
    RewriteEngine On
    # 如果访问的文件存在则直接访问
    RewriteCond %{REQUEST_FILENAME} !-f
    # 如果访问的目录存在则直接访问
    RewriteCond %{REQUEST_FILENAME} !-d

    # 如果访问的文件或目录不存在，则重定向所有请求
    # 到index.php?url=<PARAMS>

    RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

</ifModule>